h1{
    color: black;
    text-align: center;
}
.first-div{color: grey;
    background-color: rgb(78, 78, 218);
    text-align: center;


}
h2{
    text-align: left;

}
h3{
    text-align: left;
}
h6{
    color: grey;
    
}